#map {
  height: 400px;
  width: 100%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nickname DEMO';
}

html,
body {
  height: 100vh;
}

body {
  background: #dbdada;
  /* font-family: 'Lato', sans-serif; */
}

/* INDEX OR SPLASH */

#splash {
  background-image: url(../assets/images/food-map.jpg);
  background-color: beige;
  background-size: cover;
  color: rgb(70, 116, 1);
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center
}

#splash h1{
  color: white;
  font-weight: 600;
  font-size: 7rem;
  /* font-family: 'Dancing Script', cursive; */
  /* text-shadow: 0.4rem 0.3rem #5e1c1c; */
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke: 1px #4b4949;
}

#splash h1:hoover {
  color: #fff;
  background-color: yellow;
}

/* end index or splash */

h3 {
  padding: 50px 0;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

.header-info {
  margin: 1em 0;
  text-align: center;
  font-size: 2rem;
}

.header-info h2{
  font-size: 5rem;
}

button#mark-route {
  color: #0abde3;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
}

section {
  border: 1px solid #ddd;
  padding: 15px 25px;
}

.location {
  background-color: #0abde3;
  padding: 20px;
  color: white;
}

input[type=text] {
  text-decoration: none;
  padding: 6px;
  border-radius: 3px;
  outline: none;
  background-color: #0abde3;
  border: 1px solid white;
  color: white;
  box-sizing: border-box;
  font-size: 1.8rem;
}

input[type=text]::placeholder {
  color: #d8d8d8;
}
 
input {
  width: 100%;
  border: 1px solid #999;
  background: #fff;
  padding: 10px;
}

.content-input {
  background-color: white;
}

.btn {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.center {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 15px;
}

.location > div {
  margin-bottom: 14px;
}

#type {
  background-color: transparent;
  border: none;
  margin-left: 0.5em;
}

#type option {
  color: black;
}

#type>option:hover {
  background-color: yellowgreen;
}

#type>option:active {
  background-color: yellowgreen;
}

#type option:hover {
  background-color: red;
}

#type option:active {
  background-color: yellowgreen;
}

#type-label, #type {
  font-size: 1.8rem;
}
